[submodule "plugins/ffmpeg-crop"]
	path = plugins/ffmpeg-crop
	url = git@github.com:karthink/ffmpeg-crop.git
[submodule "plugins/lazytab"]
	path = plugins/lazytab
	url = git@github.com:karthink/lazytab.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:karthink/yasnippets.git
[submodule "plugins/calc-transient"]
	path = plugins/calc-transient
	url = git@github.com:karthink/calc-transient.git
