# Compiled
*.elc

# Packaging
.cask

# Personal files
ido.last
.mc-lists.el
.yas*
auto-save-list
move-line-region.el
personal.el
ac-comphist.dat
recentf*
tramp
eshell
elpa/*
url/*
elpy/*
semanticdb/*
transient/*
request/*
srecode-map.el
.org-id-locations
*~
package-quickstart.el
custom.el
